__pycache__
htmlcov
.pytest_cache
.vscode
.coverage
coverage.xml
data/aldrovandi_obj.csv
data/aldrovandi_pro.csv
docs/node_modules
docs/dist
docs/.astro
.env
data/output
data/test_output
output/Sala*
data/cache
sharepoint_config.yaml
zenodo_config.yaml
zenodo_output
references