# SPDX-FileCopyrightText: NONE
#
# SPDX-License-Identifier: CC0-1.0

__pycache__
htmlcov
.pytest_cache
.vscode
.coverage
coverage.xml
data/aldrovandi_obj.csv
data/aldrovandi_pro.csv
data/spoke4_dati.csv
docs/_build
.env
data/output
data/test_output
output/Sala*
data/cache
sharepoint_config.yaml
zenodo_config.yaml
zenodo_output*
creator_names_cache.sqlite3
references
